doctype doctype
html
    head
        style
            include ../public/css/deposit.css

        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap")
             
    body
        header(class='header')

            a(id = 'btn', name = 'atras', class = 'returnAnchor', href = '/status') Atrás

            p.tittle Depósito

            .logotipo
                include ../public/assets/logoSVG.svg
<<<<<<< HEAD
       
        
        div(class= 'container')
            div.tittle2 Cuenta
                div(class= 'container2')
                    p.subtittle Tipo de Cuenta:
                    p.subtittle2 Nro. xxxxxxxxx
                    button(type='submit', class= 'btn-submit') Cambiar
            
            div(class= 'container3')
                p.tittle2 Monto a depositar
            

=======

        div(class = 'container')
            
            p.tittle2 Cuenta
    
            div(class= 'container2')
                p.subtittle Tipo de Cuenta:
                p.subtittle2 Nro. xxxxxxxxx

                div(class = 'buttonDiv')
                    button(type='submit', class= 'btn-submit') Cambiar
>>>>>>> 4a5ae864ea1793b5e8e87930eb0d54bf44fcc3c7
