doctype doctype
html
    head
        style
            include ../public/css/deposit.css
            include ../routes/status.js

        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap")
             
    body
        header(class='header')

            a(id = 'btn', name = 'atras', class = 'returnAnchor', href = '/status') Atrás

            p.tittle Depósito

            .logotipo
                include ../public/assets/logoSVG.svg

        div(class = 'container')
            
            p.tittle2 Cuenta
    
            div(class= 'container2')
                p.subtittle Tipo de Cuenta:
                p.subtittle2 Nro. xxxxxxxxx

                div(class = 'buttonDiv')
                    button(type='submit', class= 'btn-submit') Cambiar

            p.tittle3 Monto a Depositar

            input(type="text" name = "Currency" class = 'inputCurrency' pattern = "^\$\d{1,3}(,\d{3})*(\.\d+)?$"
                    value= "" data-type = "currency" placeholder= "$0.00" )

            button(type='submit', class= 'btn-submit2') Confirmar