doctype doctype
html
    head
        style
            include ../public/css/deposit.css
            include ../routes/status.js

        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap")
             
    body
        header(class='header')

            a(id = 'btn', name = 'atras', class = 'returnAnchor', href = '/status') Atrás

            p.tittle Depósito

            .logotipo
                include ../public/assets/logoSVG.svg

        div(class = 'container')
            
            p.tittle2 Cuenta
    
            div(class= 'container2')
                each cuenta in cuentas
                p(class = 'accountType') #{cuenta.tipo}
                p(class = 'accountNumber') #{cuenta.numero_cuenta}

                div(class = 'buttonDiv')
                    button(type='submit', class= 'btn-submit') #{cuenta.change}

            p.tittle3 Monto a Depositar

            div(class='inputCurrency') $
                input(type="number" name = "Currency" class = 'inputCurrency' , value= "" , data-type = "currency"
                    , min = "1" , placeholder= "0.00" )

            button(type='submit', class= 'btn-submit2') Confirmar