doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Retiros
    
    style
        include ../public/css/retiro.css
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap")

  body
    header.cabeza

      .btnAtras
          a(id = "btnAtras" , href = '/status') Atrás

      .logotipo
           include ../public/assets/logoSVG.svg
      

    .retirarDinero
      p RETIRAR DINERO
    .cuentatitle
      p Cuenta
    #div
      .cuenta
        .cajitaCuenta
          p --Tipo de cuenta-- #{ user.nombres }
          p Nro. xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
          p Saldo disponible
          h1 $ 0.00
        .cajitaCuentaBoton
          button#btnCambiar Cambiar
    .montoRetirar
      p Monto a retirar
      h1 $0.00
      button#btncontinuar Confirmar
    footer 
