doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    
    style
        include ../public/css/retiro.css

  body
    header.cabeza
      
      .logotipo
           include ../public/assets/logoSVG.svg
      

    .retirarDinero
      h1 RETIRAR DINERO
    .cuentatitle
      h1 Cuenta
    #div
      .cuenta
        .cajitaCuenta
          p --Tipo de cuenta--
          p Nro. xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
          p Saldo disponible
          h1 $ 0.00
        .cajitaCuentaBoton
          button#btnCambiar Cambiar
    .montoRetirar
      p Monto a retirar
      h1 $0.00
      button#btncontinuar Confirmar
    footer 
